// flatten the theme effects (boolean value)

$flat-theme:                 0 !default; // 0 = no, 1 = yes

// font families

$font-body:                  system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;
$font-code:                  Menlo, Consolas, Monaco, monospace !default;

// typography grid

$base-font-size:             13px !default;
$base-line-height:           1.5384615 !default; // 20px / 13px
$small-font-size:            11px !default;
$small-line-height:          1.4545455 !default; // 16px / 11px

// borders

$border-radius:              0.5em !default;
