/* Draggable - http://jqueryui.com/draggable/
 ========================================================================== */

.ui-draggable-dragging {
    z-index: 1000;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}
