/* Slider - http://jqueryui.com/slider/
   ========================================================================== */

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: default;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {
    margin-bottom: 1em;
    height: 12px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -10px;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: 12px;
    height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -5px;
    margin-bottom: -10px;
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}
