/* Tabs - http://jqueryui.com/tabs/
   ========================================================================== */

.ui-tabs {
    position: relative; /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    border: 0;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    background: none;
}

.ui-tabs .ui-tabs-nav li {
    position: relative;
    top: 0;
    float: left;
    border-bottom-width: 0;
    -moz-border-radius-topright: 0.75em 2em;
    border-top-right-radius: 0.75em 2em;
    -moz-border-radius-topleft: 0.75em 2em;
    border-top-left-radius: 0.75em 2em;
    list-style: none;
    white-space: nowrap;
    -webkit-box-shadow: inset 0 -0.2em 0.4em rgba(102, 102, 102, 0.15);
    -moz-box-shadow: inset 0 -0.2em 0.4em rgba(102, 102, 102, 0.15);
    box-shadow: inset 0 -0.2em 0.4em rgba(102, 102, 102, 0.15);
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 0.5em 1em;
    color: #333;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    margin: 0 0 1em 0;
    border-width: 1px 0 1px 0;
    padding: 1px 0;
    background: none;
}
